body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    background-image: url('images3/background.');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 80vh;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.game-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.game-button:hover {
    transform: rotate(8deg) scale(1.1);
}

.game-button:active {
    transform: rotate(-8deg) scale(0.95);
}

.snake-button {
    background-image: url('images3/snakebutton.png');
}

.minesweeper-button {
    background-image: url('images3/minesweeperbutton.png');
}

.pong-button {
    background-image: url('images3/pongbutton.png');
}
