body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#score-title {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;
    margin: 0;
}

#game-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

#board {
    border: 10px solid mediumslateblue;
    display: block;
}

#instructions {
    margin-left: 20px;
    text-align: left;
    max-width: 200px;
    flex-shrink: 0;
}