body {
    text-align: center;
}

#board {
    background-color: black;
    border-top: 5px solid palevioletred;
    border-bottom: 5px solid palevioletred;
}

#gameTitle {
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}    

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}